.experience{
    padding:60px 20px;
 
    background: linear-gradient(120deg, transparent, rgba(56,189,248,0.15), transparent);
}
.exprience-title{
    text-align: center;
    font-size: 32px;
    font-weight: 700;
    color: #38bdf8;
    margin-bottom:40px
}
.exprience-card{
    max-width: 900px;
    margin: auto;
    padding: 30px;
    background: linear-gradient(120deg, transparent, rgba(131, 114, 181, 0.15), transparent);
    border-radius: 14px;
    border: 1px solid #0f172a;
    box-shadow: 0 10px 30px rgba(0,0,00.4);
    margin-bottom: 30px;
}
.exprience-date{
    font-size: 22px;
    font-weight: 700;
    margin-bottom:4px ;
}
.expreience-role{
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 20px;
}
.expreience-company{
    color: #38bdf8;
    font-weight: 600;
    display: block;
    margin-bottom: 20px;
}
.experience-points{
    list-style: none;
    padding: 0;
}
.experience-points li {
  position: relative;
  padding-left: 22px;
  margin-bottom: 14px;
  line-height: 1.6;
}

.experience-points li::before {
  content: "●";
  position: absolute;
  left: 0;
  color: #d5d4de;
  font-size: 12px;
  top: 4px;
}